In [1]:
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine

In [2]:
print(f"Pandas version: {pd.__version__}")
print(f"SQLAlchemy {sa.__version__}")

Pandas version: 2.0.0rc1
SQLAlchemy 2.0.7

In [3]:
data = {
    "name" : ['Tom', 'Sam', 'Mia'],
    "age" : [20,33,19]
}

In [4]:
df = pd.DataFrame(data)
df

  name  age
0  Tom   20
1  Sam   33
2  Mia   19

In [5]:
db_url = "sqlite:///demo.sqlite"
engine = create_engine(db_url)

In [6]:
df.to_sql(
    "my_table",
    con=engine,
    if_exists='replace'
)

3